.page {
  min-height: 100svh;
  font-synthesis: none;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
}

.sectionTitle {
  text-align: center;
  margin-bottom: var(--mantine-spacing-lg);
}
